%a{href: 'javascript: void(0);'}= activity.owner ? activity.owner.name : User::USER_BIDOPTIMIZATION
changed campaign's budget:
= "$#{activity.parameters[:old_amount]} => $#{activity.parameters[:new_amount]}"