%p= "Hi #{@user.name},"
%p
  Thank you for signing up GeoPoint, your account is pending at the moment. A confirmation email will be sent to you soon upon the approval from YOOSE Ops. 
%p
  Best Regards,
  %br
  YOOSE