%span.ui-select-match
  %span{"ng-repeat" => "$item in $select.selected"}
    %span.ui-select-match-item.btn.btn-white.btn-xs{"ng-class" => "{'btn-primary':$select.activeMatchIndex === $index, 'select-locked':$select.isLocked(this, $index)}", "ng-click" => "$select.activeMatchIndex = $index;", "ng-disabled" => "$select.disabled", :tabindex => "-1", :type => "button", "ui-select-sort" => "$select.selected"}
      %span.close.ui-select-match-close{"ng-click" => "$select.removeChoice($index)", "ng-hide" => "$select.disabled"} &nbsp;&times;
      %span{"uis-transclude-append" => ""}