development:
  BIDSTALK_API_KEY: ''
  BIDSTALK_USERNAME: ''
  S3_ACCESS_KEY: ''
  S3_SECRET_KEY: ''
  S3_BUCKET: ''
  tracking_api_endpoint: ''

  YOOSE_ADMIN_EMAIL: ''
  YOOSE_DEFAULT_SENDER_NAME: ''
  YOOSE_DEFAULT_SENDER_EMAIL: ''

  SMTP_USERNAME: ''
  SMTP_PASSWORD: ''
