.widget-box
  .widget-header.widget-header-blue.widget-header-flat
    %h2.lighter.grey New Campaign
  .widget-body
    .widget-main
      %div{ng: {app:'campaign.new.app'}, 'block-ui' => "main" }
        %div{ui: {view: ''}, ng: {init: "viewState={isAdmin: #{current_user.is_admin?}, campaignId: #{@campaign.id || 'null'}}; remainingBudget=#{current_user.budget}"}}
