.widget-box.transparent
  .widget-header.widget-header-small
    %h4.widget-title.blue.smaller
      %i.ace-icon.fa.fa-rss.orange
      Campaign Activities:
      =@target.name

  .widget-body
    .widget-main.padding-8
      #profile-feed-1.profile-feed{:style => "position: relative;"}
        - if @activities.size == 0
          %span There is no activity for this campaign.
        - @activities.each do |act|
          .profile-activity.clearfix
            %div= render_activity act
            .time
              %i.ace-icon.fa.fa-clock-o.bigger-110
              = local_time(act.created_at, '%B %e, %Y %l:%M%P')
              (
              = local_time_ago(act.created_at)
              )